body{
    margin: 0;
}

.super-div{
    margin: 0;
}

.container{
    padding: 4% 0;
    width: 80%;
    margin: auto;

}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.col-50{

    height: 10px;
    width: 10px;
}

.bg-green{
    background-color: #00a38f;
}

.card-body{
    display: block;
    text-align: center;
}
.text-green{
    color: #1e8793;
}
.text-white{
    color: #fff;
}
.title{
    font-size:  2.5rem;
    font-weight: 500;
}

.text{
    font-size: 1.25rem;
    font-weight: 500;
}

.card-img{

    border:20px;
    margin-left: 20px;
    padding: 20px;

    height: 10px;
    width: 20px;
}

.col-25{
    width: 30%;
}
.id{
    font-size:  2.5rem;
    font-weight: 500;}